.yt__feed{
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(270px, 1fr));
    column-gap: 1rem;
    row-gap: 5rem;
    background-color: var(--color-black);
}

.yt__feed-card img{
    width: 100%;
    border-radius: 5px;
}

.yt__feed-card{
    background-color: var(--color-black);
}


.yt__feed-card h2{
    color: rgba(255, 255, 255, 0.821);
    font-size: 1rem;
    font-weight: 600;
    margin: 0.5rem 0;
}

.yt__feed-card h3{
    color: var(--color-lightgrey);
    font-size: 0.8rem;
    font-weight: 600;
    margin: 0.5rem 0;
    font-weight: 500;
}

.yt__feed-card p{
    font-size: 0.8rem;
    color: var(--color-lightgrey);
}