.yt__playvideo{
    color: var(--color-white);
    flex-basis: 69%;
    padding: 0 2rem;
    flex-wrap: wrap;
   
}

.yt__playvideo iframe{
    height: 37vw;
    width: 100%;
    border-radius: 5px;
}

.yt__playvideo h3{
    margin-top: 0.7rem;
    font-weight: 600;
    font-size: 22px;
}

.yt__playvideo-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 5rem;
    margin-top: 1rem;
    font-size: 14px;
}

.yt__playvideo-info p{
    color: var(--color-lightgrey);
}

.yt__playvideo-info img{
    width: 20px;
    margin-right: 0.5rem;
}

.yt__playvideo-info_social span{
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    margin-right: 1rem; 
    color: var(--color-lightgrey);   
}

.yt__playvideo hr{
    border: 0;
    height: 1px;
    background: var(--color-grey);
    margin: 0.8rem 0;
}

.yt__playvideo-publisher{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.yt__playvideo-publisher div{
    flex: 1;
    line-height: 1.5rem;
}

.yt__playvideo-publisher img{
    border-radius: 50%;
    width: 55px;
    margin-right: 1.5rem;
}

.yt__playvideo-publisher button{
    width: 120px;
    height: 40px;
    font-weight: 500;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: red;
    outline: none;
    border: 1px solid var(--color-black);
    color: white;
}

.yt__playvideo-publisher div p{
    color: var(--color-white);
    font-weight: 800;
}

.yt__playvideo-publisher div span{
    color: rgb(174, 163, 163);
}

.yt__video-description{
    margin-top: 2rem;
}


.yt__video-description p{
    font-size: 14px;
    color: var(--color-white);
    margin-bottom: 5px;
}

.yt__video-description h4{
    font-size: 14px;
    color: var(--color-lightgrey);
    margin-top: 1rem;
}

.yt__video-description_comment{
    display: flex;
    align-items: flex-start;
    margin-top: 2rem;
    padding-left: 2rem;
}

.yt__video-description_comment img{
    width: 35px;
    margin-right: 1rem;
    border-radius: 50%;
    margin-top: 0.5rem;
}

.yt__video-description_comment h3{
    font-size: 14px;
    margin-bottom: 0.5rem;
}


.yt__video-description_comment span{
    font-size: 10px;
    color: var(--color-lightgrey);
    margin-left: 0.5rem;
}

.yt__video-description_comment div p{
    font-weight: 400;
    word-spacing: 0.05rem;
    /* display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.yt__video-description_comment-action{
    display: flex;
    align-items: center;
    margin-top: 0.1rem;
}

.yt__video-description_comment-action img{
    border-radius: 0;
    width: 20px;
    margin-right: 0rem;
}

.yt__video-description_comment-action span{
    margin-right: 1rem;
    font-size: 12px;
    padding-top: 0.8rem;
}

.yt__video-descrption_truncate{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}