.yt__sidebar{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    height: 100%;
    background-color: var(--color-black);
    width: 13rem;
    padding: 2rem; 
    position: fixed;
    margin-top: 5rem;
    overflow-y: auto;
    overflow-x: hidden;
}


.yt__sidebar-side{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 1.2rem;
}

.yt__sidebar-side_links{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    column-gap: 2rem;
    color: rgba(255, 255, 255, 0.611);
    cursor: pointer;
}

.yt__sidebar-side_links.active img{
    padding-bottom: 2px;
    border-bottom: 2px solid red;
}

.yt__sidebar-side_links img{
    width: 20px;
    height: 20px;
}

.yt__sidebar-sub_links img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
    
.break{
    border: 1px solid rgba(255, 255, 255, 0.562);
    width: 135px;
    margin: 2rem 0;
    height: 0.2px;
}

.yt__sidebar-subscribed{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    row-gap: 2rem;
}

.yt__sidebar-subscribed h3{
    color: whitesmoke;
    font-size: 20px;
    font-weight: 4  00;
}

.yt__sidebar-sub_links{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    color: rgba(255, 255, 255, 0.611);
    
}


.small{
    width: 5rem;
    row-gap: 1.5rem;
}

.small p{
    display: none;
}

.small .break{
    width: 2rem;
}

.small h3{
    display: none;
}



::-webkit-scrollbar {
    width: 2px; 
    height: 2px;
    background-color: var(--color-black);
}

::-webkit-scrollbar-thumb {
    background-color: #ccc; 
    border-radius: 5px; 
}

::-webkit-scrollbar-track {
    background-color: var(--color-black);
}

.yt__sidebar::-webkit-scrollbar-thumb{
    background-color: var(--color-black);
}

