.yt__video-container{
    background: var(--color-black);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 7rem;
    padding: 1rem 5rem;
}