.yt__video-container{
    background: var(--color-black);
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 7rem;
    padding: 1rem 5rem;
}

@media screen and (max-width: 426px){
    .yt__video-container{
        margin-top: 5rem ;
    }

    .yt__video-container{
        flex-direction: column;
    }
}

@media screen and (max-width: 376px){
    .yt__video-container{
        margin-left: 0;
        padding: 0 !important;
    }
}

